<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h5>Shopping Cart</h5>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <h5>Products </h5>
                <app-store-filter [category]="category"></app-store-filter>
                <app-products-search></app-products-search>
                <div class="row">
                    <app-store-items
                        class="col-lg-4 col-md-6 my-2"
                        *ngFor="let p of products |
                        search:searchText:'pName'"
                        [product]="p"></app-store-items>
                </div>
            </div>
        </div>
    </div>
</div>