<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 border mb-3">
            <app-login *ngIf="!isLoggedIn"></app-login>
            <h6 *ngIf="isLoggedIn && user">Welcome Back {{user}} </h6>
        </div>
        <div class="col-md-4 col-sm-12 border mb-4">
            <app-about></app-about>
        </div>
        <div class="col-md-4 col-sm-12 border mb-4">
            <app-shop-description [isOpenCart]="isOpenCart"></app-shop-description>
        </div>
    </div>
</div>
