<div class="container">
 
       
        <div class="form-row">
            <div class="col-md-4">
                <label>Product Name</label>
                <input type="text" class="form-control" [(ngModel)]="product.pName">
            </div>
            <div class="col-md-4">
                <label>Product Type</label>
                <input type="text" class="form-control" [(ngModel)]="product.categoryID.type" >
            </div>
            <div class="col-md-4">
                <label>Product Image</label>
                <input type="text" class="form-control" [(ngModel)]="product.imageURL" >
            </div>
        </div>
        <button (click)="edit()" type="button" class="btn btn-outline-primary px-5 mt-3">Edit</button>
     
</div>