

<div class="container-fluid">
    <div class="icon text-center my-1">
        <app-admin-modal></app-admin-modal>
    </div>

    <div class="container-fluid">
        <h5 class="py-2 text-center">Edit</h5>
        <div *ngIf="selectedProduct">
            {{selectedProduct | json }}
            
            <app-admin-edit [product]="selectedProduct"></app-admin-edit>
        </div>
    </div>


    <hr>
    <div class="row">
        <!-- <h2 class="py-5 text-center">Products </h2> -->
        <div class="col-lg-2">
            <app-store-filter
                [isAdmin]="true"
                *ngIf="!searchText"
                [category]="category"></app-store-filter>
        </div>
        <div class="col-lg-10">
            <app-products-search *ngIf="!category"></app-products-search>
            <div class="row">
                <app-store-items
                    (onEdit)="onEdit($event)"
                    [isAdmin]="true"
                    class="col-lg-3 col-md-6 my-3"
                    *ngFor="let p of products |
                    search:searchText:'pName'"
                    [product]="p"></app-store-items>
            </div>
        </div>
    </div>
</div>
