<img
    class="img-fluid w-100"
    src="https://images.unsplash.com/photo-1564753908280-206daccdbfad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
    alt="vegan shop">

<p>Available products in our store: {{amountOfProductInDB}}</p>
<p>Number of orders submited to our store {{amountOfOrdersInDB}}</p>
<p>open cart from [date] / your last purchase on [date] / welcome [name]</p>
<p *ngIf="isOpenCart">You have open cart, with total price of {{totalPrice |
    currency:'USD'}} <a
        [routerLink]="['/shop']">continue
        shopping</a></p>
<p *ngIf="!isOpenCart"><a [routerLink]="['/shop']">start shopping</a></p>